<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PYGAMES</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
</head>

<body>
    <nav id="nav">
        <a id="nav" href="/">PyGames</a id="nav">
    </nav>
    <h1>Games:</h1>
    <a id="gameLink" href="/four_in_a_row">Four In A Row</a>
    <br>
    <a id="gameLink" href="/hangman">Hangman(Countries Edition)</a>
    <br>
    <a id="gameLink" href="/slot_machine">Slot Machine</a>
</body>

</html>